table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1500px;
    min-width: 400px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

caption {
    caption-side: bottom;
    font-weight: bold;
    font-style: italic;
    margin: 4px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    height: 25px;
    padding: 5px;
    vertical-align: middle;
}

.rowtitle {
    font-weight: bold;
}


