
@{
    ViewBag.Title = "Korgen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Korgen</h2><body class="background1">
    <div class="header">
        <nav>
            <ul>
                <li><a href="~/Login/Index">Start</a></li>
                <li><a href="~/Home/Index">Webshop</a></li>
                <li><a href="~/Home/Möblerinfo">Möbler</a></li>
                <li><a href="~/Home/Korgen">Korgen</a></li>
            </ul>
        </nav>
    </div>
   
    <style>


        h2 {
            font-size: 40px;
            text-align: center;
        }

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            text-align: center;
            font-family: 'Noto Serif JP', sans-serif;
        }

            ul li {
                display: inline;
                padding: 10px;
            }

            ul a {
                display: inline block;
                padding: 10px;
            }

        li a {
            display: inline-block;
            color: rgb(0, 0, 0);
            text-decoration: none;
            text-align: center;
        }

        li {
            display: inline-block;
            padding: 1%;
        }

            li a:hover {
                background-color: beige
            }

        header1 {
            text-align: center;
            font-size: 50px;
            font-family: 'Lobster', cursive;
            height: 10vh
        }

        a {
            background-color: green;
            color: black;
            padding: 5px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .btn {
            text-align: center;
        }

        .background1 {
            background: url("../../Content/Photo11.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: black;
            font-family: 'Noto Serif JP', sans-serif;
            text-align: center;
        }
        p{text-align:center;
            font-size:20px;
        }
    </style><br><br>
                
                    
                    @if (Model.UserData.ShopedList != null)
                    {//Kollar upp vilken möbel är lägg till korgen och visar upp title och pris
                        var sum = 0;
                        foreach (var borrowed in Model.UserData.ShopedList)
                        {
                            foreach (var book in Model.BookList)
                            {
                                if (borrowed.Id == book.Id)
                                {
                                    sum += book.Pris;
                                    <p>@book.Title:@book.Pris kr</p>
                                }
                            }

                        }//Plusar på alla grejer och visar totalbeloppet
                        <p>Total Beloppet:@(sum)kr </p>
                    }

                
    <form action="~/Home/Köpa">
        <div class="btn"><button type="submit" value="Skapa" onclick="alert('Dina möbler är nu betald')">Betala</button></div>
    </form>
    <div class="footer">
        <div class="innerbox">&copy; 2018 Copyright</div>
    </div>
</body>